.current-weather-wrapper {
  padding: 1rem;
  padding-bottom: 2rem;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.titles-wrapper { width: 100%; }

.current-weather-wrapper h2 { 
  margin-top: 1rem;
  margin-bottom: .25rem;
  text-align: right;
  font-size: 170%;
  white-space: nowrap; 
}

.current-weather-wrapper h3 {
  margin-top: 1rem;
  font-size: 160%;
  text-align: left;
}

.current-weather-wrapper figure {
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
}

.current-weather-wrapper figcaption {
  margin-left: -3rem;
  font-size: 150%;
  white-space: nowrap;
}

.current-weather-specs {
  padding: 1rem;
  margin-bottom: .25rem;
}

.current-weather-specs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-specs p { 
  margin: 2% auto; 
  font-size: 85%;
  text-align: center;
}

.current-weather-specs span { white-space: nowrap; }


/*MQ*/
@media screen and (min-width: 480px ) {
  .current-weather-wrapper { 
    padding-top: 0;
    padding-bottom: 5rem;
  }

  .current-weather-specs div {
    margin: 3% 5%;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }


  .current-weather-specs p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 95%;
  }
} 

@media screen and (min-width: 680px) {
  .current-weather-specs div { margin: 1rem auto; }

  .current-weather-specs p {
    font-size: 125%;
  }
}