:root {
  --font-size: 16px;
  --container-width: 1920px;
  --main-font: Helvetica;
}

/*RESET*/
* ,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: var(--font-size);
}

#root { background-color: #011023 ;}

body {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: block;
  padding: 1rem;
  margin-bottom: 3.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav>* { margin: .7rem 0; }

h1 {
  font-size: 230%;
  white-space: nowrap;
}

h1, h2, h3, p, figcaption { color: #fff; }

main {
  flex-grow: 1;
  min-height: 100vh;
  height: auto;
}

hr {
  height: .25rem;
  background-color: #fff;
}

img {
  max-width: 100%;
  min-width: 10rem;
  height: auto;
}

a {
  text-decoration: none;
  color: #eee;
  transition: color .3s ease-in-out;
}

a:hover { color: #fff }

footer {
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  text-align: right;
}

footer p {
  color: #eee;
}


/*MQ*/
@media screen and (min-width: 560px ) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav>* { margin: 0; }
} 
