:root {
  --font-size: 16px;
  --container-width: 1920px;
  --main-font: Helvetica;
}

/*RESET*/
* ,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: var(--font-size);
}

body {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header { padding: 1rem; }

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav>* { margin: .7rem 0; }

h1 {
  font-size: 230%;
  white-space: nowrap;
}

h1, h2, h3, p, figcaption { color: #fff; }

main {
  flex-grow: 1;
  height: 100vh;
}

img {
  max-width: 100%;
  min-width: 10rem;
  height: auto;
}


/*MQ*/
@media screen and (min-width: 480px ) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav>* { margin: 0; }
} 
